.stickertop {
  position: absolute;
  background-color: yellow;
  border-color: green;
  border-bottom-style: double;
  /*
  height: 20px;
  width: 100px;
  */
}
.sticker {
  position: absolute;
  background-color: gold;
  /*
  height: 75px;
  width: 100px;
  */
}
