<form>
<div      [style.position]="'absolute'"
          [style.cursor] = "cursor"
          [style.height]="sticker.heightValue+'px'"
          [style.top]="sticker.topValue+'px'"
          [style.left]="sticker.leftValue+'px'"
          (click)="onSelected()"
>
  <div class="stickertop"
       [style.height]="'20px'"
       [style.width]="sticker.widthValue+'px'"
  >Note {{sticker.stickerID}}</div>

  <textarea class="sticker"
            [style.height]="(sticker.heightValue - 20)+'px'"
            [style.width]="sticker.widthValue+'px'"
  >
  {{sticker.stickerText}}
</textarea>
</div>
</form>
