<h1> {{ wbTitle }}</h1>
<form><button id="addBtn" (click)="newSticker()">Add Note</button>  <button id="deleteBtn" (click)="deleteSelectedSticker()">Delete Note</button>

  <div id="testWhiteBoard"
      [style.width]="boardWidth + 'px'"
      [style.height]="boardHeight + 'px'"
  >
    <div *ngFor="let sticker of stickers">
      <ellzap-sticker
        [id]="'ellzap-sticker-'+sticker.stickerID"
        [sticker]="sticker"
         (selected)="onStickerSelected($event)"
         (newLeftTop)="onNewLeftTop($event)"
      >
        Here comes the note
      </ellzap-sticker>
    </div>
</div>
</form>
